<h1>Welcome to the TutorLive-Faculty Selection Website</h1>
<button onclick="window.location.href='@Url.Action("Index", "Student")'">Student</button>
<button onclick="window.location.href='@Url.Action("Login", "Faculty")'">Faculty</button>
