@{
    ViewBag.Title = "Student Home";
}

<h2>Welcome to the Student Home Page!</h2>
<p>
    <a href="/Student/Register"><button>Register</button></a>
    <a href="/Student/Login"><button>Login</button></a>
</p>
