@{
    ViewBag.Title = "Student Home";
}

<h2>Welcome to the Student Section</h2>
<p>
    <form method="get" action="/Student/Register" style="display:inline;">
        <button type="submit">Register</button>
    </form>
    <form method="get" action="/Student/Login" style="display:inline;">
        <button type="submit">Login</button>
    </form>
</p>
