<h2>Student Login</h2>
@using (Html.BeginForm("Login", "Student", FormMethod.Post))
{
    <label>Email</label>
    <input type="email" name="email" required />
    <br />
    <label>Password</label>
    <input type="password" name="password" required />
    <br />
    <button type="submit">Login</button>
}
@if (!ViewData.ModelState.IsValid)
{
    <div style="color:red;">@Html.ValidationSummary()</div>
}
